{% extends "index.html" %}
{% block content %}

<!-- Title Section -->
<div class="container">
    <h1 class="blue-text text-darken-3 center-align">DMC Color Convert</h1>

    <!-- Files Section -->
    <h2 class="blue-text text-darken-3">Files</h2>

    <table class="striped centered responsive-table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Filename</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for file in file_urls %}
            <tr>
                <td>
                    <img src="/{{ file }}" alt="image" class="responsive-img"
                        style="max-width: 150px; height: auto; border-radius: 8px;">
                </td>
                <td>
                    <a href="/{{ file }}" class="blue-text text-darken-3">{{ file }}</a>
                </td>
                <td>
                    <button class="btn waves-effect waves-light blue darken-3"
                        onclick='process_dmc("{{ file }}")'>Process</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Converted Section -->
    <h2 class="blue-text text-darken-3">Converted</h2>

    <table class="striped centered responsive-table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Filename</th>
            </tr>
        </thead>
        <tbody>
            {% for file in processed %}
            <tr>
                <td>
                    <img src="/{{ file }}" alt="image" class="responsive-img"
                        style="max-width: 150px; height: auto; border-radius: 8px;">
                </td>
                <td>
                    <a href="/{{ file }}" class="blue-text text-darken-3">{{ file }}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    function process_dmc(filename) {
        console.log(filename);
        $.ajax({
            url: "/api/process_dmc?filename=" + filename,
            success: function (result) {
                $("#div1").html(result);
            }
        });
    }
</script>

{% endblock %}